<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Разрешения для работы с сетью -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Queries для платежных приложений (ЮКасса deeplinks) -->
    <queries>
        <!-- SberPay -->
        <package android:name="ru.sberbankmobile" />
        <!-- Tinkoff -->
        <package android:name="com.idamobile.tinkoff.android" />
        <!-- YooMoney -->
        <package android:name="ru.yandex.money" />
        <!-- MirPay -->
        <package android:name="ru.nspk.mirpay" />
        <!-- ВТБ-Онлайн -->
        <package android:name="ru.vtb.mobilebanking.android" />
        <!-- Альфа-Банк -->
        <package android:name="ru.alfabank.mobile.android" />
        
        <!-- Intent filters для deeplink'ов -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="sberpay" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="sbolpay" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tinkoffbank" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="yoomoney" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="mirpay" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="bank" />
        </intent>
    </queries>

    <application
        android:name=".PizzaNatApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PizzaNatApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PizzaNatApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>